@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

.hero {
	background: repeating-linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.77) 0%,
			rgba(0, 0, 0, 0.77) 100%
		),
		lightgray 50%;
	background-image: url("/hero.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
